/*===custommenu==============*/ 

.pt_custommenu {
position:relative;
z-index:1000;
margin: 0 auto;
width: 100%;
background-color: #191919;
margin-left: -15px;
}
.pt_custommenu div.pt_menu {
    float: left;
}
.pt_custommenu div.pt_menu .parentMenu a,
.pt_custommenu div.pt_menu .parentMenu span.block-title{
padding:12px 15px;
text-decoration: none;
display:block;
text-transform: uppercase;
font-size:14px;
font-family: CalibriBold;
color: #f4f4f4;
}
.pt_custommenu div.pt_menu.act a,
.pt_custommenu div.pt_menu.active .parentMenu a,
.pt_custommenu #pt_menu_pt_item_menu_custom_menu.active span
{
color:#fff
}
#pt_menu_pt_item_menu_custom_menu.active .parentMenu span,
#pt_menu_pt_item_menu_featured_custom.active .parentMenu span
{cursor: pointer;
color:#ffa200;
}
.pt_custommenu div.pt_menu.active {}

.pt_custommenu div.pt_menu.act .itemSubMenu .itemMenuName:hover{color:#7ccfc4}
.pt_custommenu div.pt_menu.act .itemSubMenu .itemMenuName{color: #888888;}
.pt_custommenu div.pt_menu.act .itemMenu .itemMenuName
#pt_menu_home a{padding-left: 0}
.pt_custommenu div.pt_menu.active {
}
#block2_pt_item_menu_featured_custom{margin: 0}
#popup_pt_item_menu_featured_custom{width: 1140px !important ;left: 0 !important }
.pt_custommenu div.popup {
position:absolute;
z-index:3000;
text-align:left;
width: 904px;
padding: 0;
margin: 0;
border: 1px solid #eeeeee;
background: #fff;
}
.pt_custommenu div.pt_menu .parentMenu a:hover,
.pt_custommenu div.pt_menu .parentMenu span.block-title:hover,
.pt_custommenu #pt_menu_link ul li a.act,
.pt_custommenu #pt_menu_link ul li a:hover,
.pt_custommenu div.pt_menu.act {color:#fff;background-color: #f01b48}
.pt_custommenu div.popup a {
    text-decoration: none;
    display:block;
    line-height:28px;
}
.pt_custommenu .itemMenu h4.level1,
.pt_custommenu .itemMenu a.level1{
 font-size: 16px;
font-weight: normal;
color: #777777 !important;
font-family: CalibriBold;
text-transform: uppercase;
line-height: 20px
}
.pt_custommenu .itemMenu h4.level1:hover,
.pt_custommenu .itemMenu a.level1:hover {
    color:#7ccfc4 !important;
/*    text-decoration: underline;*/
}
.pt_custommenu .itemSubMenu h4.level2,
.pt_custommenu .itemSubMenu a.level2,
.pt_custommenu .itemSubMenu h4.level3,
.pt_custommenu .itemSubMenu a.level3,
.pt_custommenu .itemMenu a.level1.nochild{
text-transform:capitalize;
font-weight: normal;
font-size: 13px;
color:#888888;
/*background: url(../images/black-dot.png) no-repeat 0 10px;
padding-left: 15px;*/
}
.pt_custommenu .itemSubMenu a.level2:hover,
.pt_custommenu .itemMenu a.level1.nochild:hover{
color: #7ccfc4;
/*background-position: 0 -12px;*/
/*text-decoration: underline;*/
}
.pt_custommenu div.popup a.actParent {
    color: #7ccfc4;
}
.pt_custommenu div.popup a.act {
    color:#7ccfc4 !important;
}
.pt_custommenu div.column {
    float:left;
    width:190px; /* column width */
    margin-right:5px;
}
.pt_custommenu div.column.last {
    border-right: 0 none;
    margin-right: 0;
    padding-right: 0;
}
.pt_custommenu div.itemSubMenu {
padding:10px 0 0
}

.pt_custommenu .block2{
    margin-top: 10px;
    float: left;
}
.pt_custommenu div.popup .block1{
    overflow: hidden;
    float: left;
    padding:40px 30px;
}
.pt_custommenu div.popup .block1 .column{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
.pt_custommenu div.popup .blockright img{
    max-width: 100%;
} 

.pt_custommenu div.pt_menu .parentMenu p{
    margin: 0;
    padding: 0;
}
.pt_custommenu #pt_menu_link{
    padding: 0;
}
.pt_custommenu #pt_menu_link .parentMenu ul li{
    float: left;
    list-style: none;
}
.pt_custommenu #pt_menu_link .parentMenu ul li a{
float: left;
padding:12px 15px;
display: block;
}
.pt_custommenu .clearBoth {
    clear:both;
}
/*===end-custommenu==============*/ 